<!DOCTYPE html>
<html>
  <head>
    <title>Expense Tracking</title>
  </head>
  <link rel="stylesheet" href="/css/expensePage.css" />
  <body>
    <h1>Expense Tracking</h1>

    <!-- Sorting Options -->
    <label for="sort">Sort By:</label>
    <select id="sort">
      <option value="date">Date</option>
      <option value="amount">Amount</option>
    </select>
    <!-- Filter Options -->
<label for="filter">Filter By:</label>
<select id="filter">
  <option value="all">All</option>
  <option value="week">Week</option>
  <option value="month">Month</option>
  <option value="amount">Amount</option>
  <option value="date">Date</option>
</select>

<!-- Amount Filtering -->
<div id="amountFilter" style="display: none;">
  <label for="minAmount">Min Amount:</label>
  <input type="number" id="minAmount" name="minAmount" />
  <label for="maxAmount">Max Amount:</label>
  <input type="number" id="maxAmount" name="maxAmount" />
</div>

<!-- Date Filtering -->
<div id="dateFilter" style="display: none;">
  <label for="startDate">Start Date:</label>
  <input type="date" id="startDate" name="startDate" />
  <label for="endDate">End Date:</label>
  <input type="date" id="endDate" name="endDate" />
</div>


    <button id="apply">Apply</button>

    <!-- Display Expense Data -->
    <table id="expenseTable">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Expense Type</th>
          <th>Additional Info</th>
        </tr>
      </thead>
      <tbody id="expenseData">
        <% expenses.forEach(expense => { %>
        <tr>
          <td><%= expense.date %></td>
          <td><%= expense.description %></td>
          <td><%= expense.amount %></td>
          <td><%= expense.__t %></td>
          <td>
            <% if (expense.__t === 'Delivery') { %> Recipient: <%=
            expense.recipientName %> <% } else if (expense.__t === 'Advert') {
            %> Platform: <%= expense.platform %> <% } else if (expense.__t ===
            'ItemPurchase') { %> Item: <%= expense.itemName %>, Quantity: <%=
            expense.quantity %>, Unit Price: <%= expense.unitPrice %> <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <!-- Pagination -->
    <div id="pagination">
      <!-- Pagination links with sort and filter IDs -->
      <% if (currentPage > 1) { %>
        <a href="/api/v1/expenses?page=<%= currentPage - 1 %>&sort=<%= sortOption %>&filter=<%= filterOption %>">Previous</a>
      <% } %>
    
      <span>Page <%= currentPage %> of <%= totalPages %></span>
    
      <% if (currentPage < totalPages) { %>
        <a href="/api/v1/expenses?page=<%= currentPage + 1 %>&sort=<%= sortOption %>&filter=<%= filterOption %>">Next</a>
      <% } %>
    </div>
    
    
    <script type="module" src="/js/expensePage.js"></script>
  </body>
</html>
